:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-molengo: Molengo;
  --font-oriya-mn: "Oriya MN";

  /* font sizes */
  --font-size-sm: 16px;
  --font-size-base: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 25px;
  --font-size-2xl: 40px;
  --font-size-3xl: 100px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;

  /* border radiuses */
  --br-md: 5px;
}
